<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<h2>Members</h2>
<ul>
<% @beer_club.users.each do |user| %>
  <li> <%= user.username %></li>
<% end %>
</ul>

<% if current_user %>
  <div>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) %> |
    <%= link_to "Back to beer clubs", beer_clubs_path %>
  
    <%= button_to "Destroy this beer club", @beer_club, method: :delete %>
  </div>
<% end %>
