<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
    <div>
      <%= form.label :username, class: "form-label" %>
      <%= form.text_field :username, {:class => "form-control"} %>
    </div>
  <% end %>

  <div>
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, {:class => "form-control", "data-toggle" => "tooltip", "title" => "Must contain at least one capital letter"} %>
  </div>
  
  <div>
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, {:class => "form-control", "data-toggle" => "tooltip", "title" => "Must contain at least one capital letter"} %>
  </div>

  <div class="progress extra-margins-y">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script src="https://code.jquery.com/jquery-3.6.2.slim.js" integrity="sha256-OflJKW8Z8amEUuCaflBZJ4GOg4+JnNh9JdVfoV+6biw=" crossorigin="anonymous"></script>
<script>
// This is horrible script but it's just a quick hack!
const userInput = document.getElementById("user_username")
const passwordInput = document.getElementById("user_password")
const confirmationInput = document.getElementById("user_password_confirmation")
function updateStatus() {
  let status = 0
  if(userInput.value.length>0) {
    status = status + 1
  }
  if(passwordInput.value.length>0) {
    status = status + 1
  }
  if(confirmationInput.value.length>0) {
    status = status + 1
  }
  percentage = Math.floor(status/3*100)
  document.getElementsByClassName('progress-bar').item(0).setAttribute('aria-valuenow', percentage)
  document.getElementsByClassName('progress-bar').item(0).setAttribute('style', `width: ${percentage}%`)
}
userInput.addEventListener('change', function() {
  updateStatus()
})
passwordInput.addEventListener('change', function() {
  updateStatus()
})
confirmationInput.addEventListener('change', function() {
  updateStatus()
})
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

