<div>
  <h2>Username:</h2>
  <p>
    <%= @user.username %>
  </p>
</div>
<p>
  <% if @user.ratings.empty? %>
    Has made no ratings yet!
  <% else %>
    Has made <%= "#{pluralize(@user.ratings.count, 'rating')}" %>, average being <%= @user.average_rating %>
  <% end %>
</p>
<ul>
  <% @user.ratings.each do |rating| %>
    <li> <%= render rating %> 
      <% if @user == current_user %>
        <%= link_to "delete", rating, data: { "turbo-method": :delete }, class: "delete-rating-btn" %>
      <% end %>
    </li>
  <% end %>
</ul>
<div>
  <h3>Favorite</h3>
  <p>beer style: <%= @user.favorite_style %></p>
  <p>brewery: <%= @user.favorite_brewery %></p>
</div>
<h2>Clubs</h2>
<ul>
<% @user.beer_clubs.each do |club| %>
  <li> <%= link_to club, club %></li>
<% end %>
</ul>
<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
