<h1>Ratings</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= render "top", top: @top_beers, type: "Beer" %>
    </div>
    <div class="col-sm">
      <%= render "top", top: @top_breweries, type: "Brewery" %>
    </div>
    <div class="col-sm">
      <%= render "top", top: @top_styles, type: "Style" %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Most active users</h3>
      <ol>
        <% @most_ratings.each do |m| %>
          <li><%= "#{m.username} #{pluralize(m.ratings.count, 'rating')}" %></li>
        <% end %>
      </ol>
    </div>
    <div class="col-sm">
      <h3>Recent ratings</h3>
      <ul>
        <% @latest.each do |l| %>
          <li><%= l %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
