

<%= render @style %>

<h4>beers:</h4>

<ul>
  <% @style.beers.each do |beer| %>
    <li><%= beer.name %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) %> |
  <%= link_to "Back to styles", styles_path %>

  <%= button_to "Destroy this style", @style, method: :delete %>
</div>
