<div id="<%= dom_id brewery %>">
  <h4>
    <%= brewery.name %>
    <% unless brewery.active %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h4>

  <p>
    <i>Established at 
    <%= brewery.year %>
    </i>
  </p>

  <p>
    Beers count: <%= brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    <% if brewery.ratings.empty? %>
      Brewery has no ratings yet!
    <% else %>
      Brewery has <%= "#{pluralize(brewery.ratings.count, 'rating')}" %>  with an average of <%= brewery.average_rating %>
    <% end %>
  </p>

</div>
