<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>

  <p>
    <i>Established in
    <%= brewery.year %>
    </i>
  </p>

  <p>
    Beers count: <%= brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    <% if brewery.ratings.empty? %>
      Brewery has no ratings yet!
    <% else %>
      Brewery has <%= "#{pluralize(brewery.ratings.count, 'rating')}" %>  with an average of <%= brewery.average_rating %>
    <% end %>
  </p>

</div>
