<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <p>
    <% if beer.ratings.empty? %>
      beer has not yet been rated!
    <% else %>
      beer has <%= "#{pluralize(beer.ratings.count, 'rating')}" %>  with an average of <%= beer.average_rating %>
    <% end %>
  </p>

</div>
