<%= render @beer %>

<% if current_user %>

  <h4>give a rating:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    <%= form.label :score, "score:", class: "form-label" %>
    <%= form.number_field :score, { :class => "form-control" } %>
    <%= form.submit "Create rating", class: "btn btn-primary" %>
  <% end %>

  <%= edit_and_destroy_buttons(@beer) %>
<% end %>
