<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @weather %>
  <p><b>The current beer weather in <%= @city %></b></p>
  <p>
    <%= "#{@weather.temperature} Celsius" %><br />
    <img src="<%= @weather.weather_icons[0] %>" /><br />
    <b>wind</b> <%= @weather.wind_speed %>, direction: <%= @weather.wind_dir %><br />
  </p>
<% end %>

<% if @places %>
  <table class="table table-hover">
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field == :name %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
